<!-- a simple home page with jumbotron and one card deck -->


<div class="jumbotron bg-info text-center">
  <h1 class="display-4 mb-3">LCO angular app with LazyLoading</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate ab nesciunt soluta vitae nobis
  </p>
  <hr class="my-4 mt-5 mb-3">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet nihil id excepturi nesciunt, placeat sed quia
    ipsam eligendi voluptate temporibus ipsum reiciendis nobis blanditiis, velit fugiat. Soluta quaerat similique in.
  </p>
  <a class="btn btn-primary btn-lg" [routerLink]="['/services']" role="button">Our Services</a>
</div>



<!-- some dummy cards inside card deck -->
<div class=" container text-dark  d-flex justify-content-center align-items-center mt-5 mb-5">

  <div class=" card-deck ">
    <div class="card">
      <img class="card-img-top img-fluid" src="https://i.picsum.photos/id/25/500/500.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Demo Card</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam incidunt, nobis iste eos
          earum porro. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Iusto, asperiores.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top  img-fluid" src="https://i.picsum.photos/id/28/500/500.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Demo Card</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur error deleniti sit
          nobis hic quidem omnis nulla eum consequatur aliquid.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top  img-fluid" src="https://i.picsum.photos/id/10/500/500.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Demo Card</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero labore delectus impedit.
          Repudiandae sint in fuga assumenda consequuntur laboriosam, qui ea officiis atque culpa blanditiis expedita
          doloribus maiores veniam vel eaque reprehenderit? Consectetur cumque voluptas debitis cum accusantium alias
          repellendus!</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
