<!-- a simple about page with card -->
<div class="container d-flex justify-content-center mt-5 mb-5 text-dark">
  <div class="card" style="width: 22rem;">
    <img class="card-img-top" src="https://i.picsum.photos/id/1012/500/500.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">About Me</h5>
      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim voluptatem modi facere et
        nobis cupiditate corrupti. Similique voluptates cum expedita eum, dolor, consequuntur harum porro, repudiandae
        ad sequi animi ab!</p>
      <a [routerLink]="['/']" class="btn btn-primary">Contact Me</a>
    </div>
  </div>
</div>
