<!-- a simple our service page which contains some lorem text and two buttons for the bootcamp page and course page-->


<div class="container">
  <div class="row">
    <div class="col text-center">
      <div class="font-italic">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat provident dolorum error. Porro corrupti
        repellendus cupiditate deserunt magnam, numquam rem tempore animi maiores repellat quo fugit possimus placeat!
        Laudantium, architecto?
      </div>
      <a [routerLink]="['course']" routerLinkActive="router-link-active" class="btn btn-primary btn-lg mt-3">View
        Course</a>
    </div>
    <div class="col text-center">
      <div class="font-italic">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat provident dolorum error. Porro corrupti
        repellendus cupiditate deserunt magnam, numquam rem tempore animi maiores repellat quo fugit possimus placeat!
        Laudantium, architecto?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas, nostrum? Laboriosam atque quisquam laborum fugit
      </div>
      <a [routerLink]="['bootcamps']" routerLinkActive="router-link-active" class="btn btn-secondary btn-lg mt-3">View
        Bootcamps</a>
    </div>
  </div>

</div>
