<!-- Image and text -->
<nav class="navbar navbar-dark   navbar-expand-lg  bg-primary">


  <a class="navbar-brand" [routerLink]="['/']">
    <img src="../../../assets/img.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <span class="">
      LCO Contact App
    </span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav w-100  d-flex justify-content-between">

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">About</a>
      </li>

      <li class="nav-item ">
        <a class=" btn btn-warning" [routerLink]="['/contact/modify']" routerLinkActive="active">Add
          Contact</a>
      </li>

    </ul>

  </div>


</nav>
