<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
  <a class="navbar-brand" [routerLink]="['/']">
    <img src="../../../assets/img.png" width="30" height="30" class="d-inline-block align-top" alt="">
    LCO Social Network
  </a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <!-- if the user is present then printing email -->
      <div *ngIf="email" class="navbar-text float-left">
        {{email}} </div>
      <a class="nav-item nav-link" [routerLink]="['/']">Home</a>
      <!-- conditionally rendering links  -->
      <a class="nav-item nav-link" *ngIf="!email" [routerLink]="['/signin']" routerLinkActive="active">Sign In</a>
      <a class="nav-item nav-link" *ngIf="!email" [routerLink]="['/signup']" routerLinkActive="active">Sign Up</a>

      <a class="nav-item nav-link text-danger" *ngIf="email" (click)='handleSignOut()'>Log Out</a>

      <a class="nav-item nav-link btn btn-warning text-primary" *ngIf="email" [routerLink]="['/addpost']"
        routerLinkActive="active">
        Post Your Story</a>
    </div>

  </div>
</nav>
