.card {
  margin-top: 130px;
}
.background {
  height: 120px;
}

.profile-pic {
  margin-top: -100px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  z-index: 100;
  border: 5px solid #fff;
}
