.container,
.row {
  height: 100vh;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: aliceblue;
}
