<!-- image is added in style.css(global style) -->
<ng-container>
  <app-header></app-header>
  <div class="container mt-3 mb-3">
    <div class="row">

      <div class="col-lg-5 p-2">
        <div class="card card-body">
          <app-movie-form class="w-100"></app-movie-form>
        </div>
      </div>

      <div class="col-lg-5 p-2 d-flex justify-content-start align-items-center flex-column">
        <app-movie-list class="w-100"></app-movie-list>
      </div>

    </div>
  </div>

</ng-container>
