.profile {
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  width: 110px;
  height: 110px;
}

/* to hide up-down arrow from input number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
