/* main style for the page and setting background */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
  width: auto;
  background-image: url("./assets/image.jpg");
  background-position: top;
}
